---
import Layout from '../layouts/Layout.astro'
import PalTable from '../components/PalTable.jsx'

// API FETCHING
// const BASE_URL = 'http://localhost:3000'
// const res_num_pals = await fetch(`${BASE_URL}/?limit=1`)
// const data_num_pals = await res_num_pals.json()
// const num_pals = 5//data_num_pals.total ?? 0
// const res = await fetch(`${BASE_URL}/?limit=${num_pals}`)
// const data_raw = await res.json()
// const data = data_raw.content

// LOCAL FETCHING
import data from '../../helpers/pals_full.json'
const num_pals = data.length
console.log(data)

// FINAL DATA
const pals = data.sort((a, b) => {
    if(parseInt(a.key?.substr(0,3)) < parseInt(b.key?.substr(0,3)))
        return -1
    if(parseInt(a.key?.substr(0,3)) >= parseInt(b.key?.substr(0,3)))
        return 1

    return 0
})
---

<Layout title="Welcome to Astro.">
        <h1 class="text-5xl">Palworld Tracker</h1>
        <PalTable pals={pals} client:load/>
</Layout>
