---
interface Props {
    id: string;
    displayName: string;
    number: string;
    imageUrl?: string;
    types?: Array<string>;
        work?: Map<string, number>;
        captured?: boolean;
        tenCaptured?:boolean;
    }
    
import Layout from '../layouts/Layout.astro';
const {id, displayName, number, types, work, captured, tenCaptured } = Astro.props;
const imageUrl = `${import.meta.env.PUBLIC_PALAPI}/${Astro.props.imageUrl}`;
---

<Layout title={displayName}>
<a href={`/pals/${id}`}>
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <img class="rounded-t-lg" src={imageUrl} alt="" />
    <div class="p-5">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{displayName}</h3>
    <div class="columns-2">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">text 1</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">text 2</p>
        </div>
    </div>
</div>
</a>
</Layout>